.menu-wrap {
  left: 45%;
}

.menu-wrap .toggler {
  left: 45%;
}

.menu-wrap .hamburger {
  left: 45%;
}
.right {
  width: 340px;
  height: 340px;
  margin-left: 60px;
  margin-bottom: 200px;
}
.left {
  max-width: 500px;
  text-align: center;
  margin-top:100px;
}
.left p {
  line-height: 2rem;
  
}
.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  margin-top: 60px;
  margin-left: 70px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
}
.work-container {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  padding: 20px;
}

.container {
    grid-template-areas: 'left'
    'right';
    grid-gap: none;
    align-items: center;
    justify-content: center;
} 
#home h4{
    display: none;
}
.card {
    width: 100px;
    height: 100px;
    padding:40px 40px;
    margin-right: 50px;
    transition: all 0.3s ease-in;
  }
  .card2 {
    width: 60px;
    height: 60px;
    padding:40px 40px;
    margin-right: 50px;
    transition: all 0.3s ease-in;
  }
  #sass{
    width: 110px;
    height: 50px; 
  }
  .title2{
      padding-top:80px;
  }
  .uncolor{
      font-size: 2rem;
  }
  .uni {
    height:270px;
}


.Onesec p{
  display: none;
}
.Onesec h3 {
  margin-left: 0;
  text-align: center;  
}
.Onesec h4 {
  margin-left: 0px;
  text-align: center;  
}
body{
  font-family: 'Source Code Pro', monospace !important;
  
}